.libraries, .users {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 1rem;
}

.library, .user {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--800));
    padding: 1rem;
    word-break: normal;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    box-shadow: var(--shadow);
}