.libraries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
}

.library {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--800));
    padding: 1rem;
    word-break: break-all;
    border-radius: 1rem;
    text-decoration: none;
    color: rgb(var(--text));
}