.work {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .cover {
        object-fit: contain;
        height: auto;
        width: 300px;
        border-radius: 1rem;
    }
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .newComment {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}