@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

input, button {
    min-width: 150px;
    width: max-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 5rem;
}